annotated-types==0.7.0
asgiref==3.11.1
diff-match-patch==20241021
Django==5.2.15
django-bootstrap-datepicker-plus==6.0.0
django-daisy==2.0.11
django-dbbackup==5.3.0
django-extensions==4.1
django-import-export==4.4.1
gunicorn==26.0.0
hijri-converter==2.3.2.post1
hijridate==2.3.0
import-export==0.3.1
packaging==26.2
psycopg2-binary==2.9.12
pydantic==2.13.4
pydantic-settings==2.14.2
pydantic_core==2.46.4
python-dotenv==1.2.2
pytz==2026.2
sqlparse==0.5.5
tablib==3.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
whitenoise==6.12.0
