asgiref==3.11.1
diff-match-patch==20241021
Django==5.2.11
django-daisy==2.0.7
django-dbbackup==5.3.0
django-extensions==4.1
django-import-export==4.4.0
django-jazzmin==3.0.4
future==1.0.0
hijri-converter==2.3.2.post1
hijridate==2.3.0
ply==3.11
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32==305
pyzk==0.9
six==1.17.0
sqlparse==0.5.5
tablib==3.9.0
thriftpy2==0.5.3
typing_extensions==4.15.0
tzdata==2025.3
waitress==3.0.2
whitenoise==6.11.0
zk==0.9.4
